export IKIGAI_DEV=1
export IKIGAI_BIN_DIR=$PWD/bin
export IKIGAI_CONFIG_DIR=$PWD/etc
export IKIGAI_DATA_DIR=$PWD/share
export IKIGAI_LIBEXEC_DIR=$PWD/libexec
export IKIGAI_CACHE_DIR=$PWD/cache
export IKIGAI_STATE_DIR=$PWD/state
export IKIGAI_RUNTIME_DIR=$PWD/run
export IKIGAI_LOG_DIR=$PWD/.ikigai/logs
export IKIGAI_DB_HOST="localhost"
export IKIGAI_DB_PORT="5432"
export IKIGAI_DB_NAME="$(basename "$PWD" | tr -d '-')"
export IKIGAI_DB_USER="ikigai"
export IKIGAI_DB_PASS="$(cat ~/.secrets/IKIGAI_DB_PASS)"
export OPENAI_API_KEY="$(cat ~/.secrets/OPENAI_API_KEY)"
export ANTHROPIC_API_KEY="$(cat ~/.secrets/ANTHROPIC_API_KEY)"
export GOOGLE_API_KEY="$(cat ~/.secrets/GOOGLE_API_KEY)"
export BRAVE_API_KEY="$(cat ~/.secrets/BRAVE_API_KEY)"
export GOOGLE_SEARCH_API_KEY="$(cat ~/.secrets/GOOGLE_SEARCH_API_KEY)"
export GOOGLE_SEARCH_ENGINE_ID="$(cat ~/.secrets/GOOGLE_SEARCH_ENGINE_ID)"
export NTFY_API_KEY="$(cat ~/.secrets/NTFY_API_KEY)"
export NTFY_TOPIC="$(cat ~/.secrets/NTFY_TOPIC)"
export GOOGLE_CHAT_SPACE='spaces/AAQAJRRg41M'
export GOOGLE_CHAT_USER='ikigai@logic-refinery.com'
export GOOGLE_APPLICATION_CREDENTIALS=~/.secrets/ikigai-dev-1982.iam.gserviceaccount.com
export RALPH_PLANS_HOST="localhost"
export RALPH_PLANS_PORT="5001"
export RALPH_ORG="mgreenly"
export RALPH_REPO="ikigai"
PATH_add scripts/bin
PATH_add .claude/bin
PATH_add .claude/scripts
PATH_add .ikigai/scripts
PATH_add .ralph
